@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}
input {
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

.input__wrapper {
    width: 100%;
    position: relative;
    max-width: 600px;
    border-radius: 50px;
    overflow: hidden;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}

.nav__title {
    text-align: center;
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 36px;
    margin-top: 48px;
    max-width: 1000px;
    line-height: 1.25;
    color: #242424;
    cursor: not-allowed;
}

.logo {
    height: 60px;
    padding-left: 24px;
    margin-top: 8px;
}

.nav__container {
    height: 300px;
    width: 100%;
    position: relative;
    background-color: #552155;
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20230703/pngtree-3d-rendered-movie-theatre-with-white-screen-image_3732826.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-position: top;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content__wrapper {
    display: flex;
   
   justify-content: space-between;
   align-items: center;
   position: relative;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   z-index: 2;
   
}

.links {
    width: 100%;
    max-width: 440px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.link__anchor--btn {
    text-decoration: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid (239, 239, 239, 0);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    max-height: 42px;
    min-height: 42px;
    color: rgba(71, 69, 69, 0.795);
    position: relative;
}

.link__anchor--btn:hover {
    background-color:#9e7bb5;
    color: white;
    transition: all 450ms ease;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.search__content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    max-width: 1200px;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


.search__wrapper {
    position: absolute;
    padding: 12px 20px 0 8px;
    cursor: pointer;
    top: 0px;
    bottom: 0;
    right: 0;
    z-index: 10000;
    font-size: 32px;
}

.fa-magnifying-glass {
    color: #242424;
}

.fa-magnifying-glass:hover {
    color:blue;
    transition: all 800ms ease;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}
.click:active {
   color: #c3dedd;
    transform: scale(0.75);
    transition: all 100ms ease;
}


/* MOVIES */

#movies__body {
    background-color: rgba(115, 66, 214, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


#movies__main {
    flex: 1;
  }
  

.blue {
    color: hwb(226 12% 31%);
}

.fa-film {
    color: gold;
    margin-right: 2px;
    
}

.fa-calendar-days {
    color: gold;
    margin-right: 8px;
}

.movies__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movies__header--title {
    margin-bottom: 12px;
    cursor: not-allowed;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie__description--title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie {
  width: 25%;
  padding: 24px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 8px;
}


.movie__img {
    max-height: 360px;
    transition: all 600ms ease;
    cursor: pointer;
    object-fit: contain;
    object-position: left;
}

.movie:hover .movie__description {
    opacity: 1;
    transform: translateY(-50%);
}

.movie:hover .movie__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.movie__description {
    position: absolute;
    bottom: 30%;
    left: 30px;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color:gold;
    max-width: 550px;
    font-size: 12px;
}

.movie:hover .movie__wrapper--bg {
    opacity: 0.8;
    background-color: #242424;
}

.movie__description--title {
    font-size: 16px;
}

.movie__release--date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
  }

  .movie__title {
    margin: 8px;
  }

  select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
  }

  /* HAM MENU */

  .btn__menu {
    background-color: transparent;
    font-size: 36px;
    border: none;
    color: #fff;
    display:none;
    margin-right: 8px;
  }
  .btn__menu:hover{
    color: gold;
    transform: scale(1.15);
    transition: all 600ms ease;
  }
  
  .menu__backdrop {
    position: absolute;
    background-color: #242424;
    width: 100%;
    height: 100vh;
    top: 0;
    right:0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 300ms ease;
    opacity: 0;
    transform: translate(100%);
  }
  
  .menu--open {
    max-height: 100vh;
    overflow: hidden;
  }
  
  .menu--open .menu__backdrop {
    visibility: visible !important;
    opacity: 1;
    transform: translate(0);
  }
  
  .menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__list {
    padding: 32px 0;
  }
  
  .menu__link {
    color: white;
    font-size: 32px;
  }
  
  .btn__menu--close {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
  }

  .no-cursor {
    cursor: not-allowed;
  }
  /*
  
  LOADING STATE
  
  */

  .movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
  }
  
  .movies__loading--spinner {
    display: none !important;
  }
  
  .movies__loading .movies__loading--spinner {
    display: block !important;
  }
  
  .fa-spinner {
    animation: rotate 600ms infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  /*
  
  FOOTER
  
  */

  footer {
    background-color: #000;
}

.footer__container {
    padding: 50px 0;
}

  .footer__links {
    width: 100%;
    max-width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 0;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.footer__logo--img {
    height: 75px;
    padding-right: 42px;
    filter: invert(1);
}

.footer__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__copyright {
    margin-top: 14px;
    color: #fff;
    cursor: not-allowed;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width:968px) {
    .movie {
        width: 50%;
        padding: 12px;
    }
}

@media (max-width: 640px) {
    .movies__header--title {
        font-size: 20px;
    }
    select {
        width: 50%;
        max-width: 150px;
    }
}

@media (max-width: 550px) {
    .movies {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .movie {
        width: 100%;
    }
    }
    @media(max-width:480px) {
        .btn__menu{
            display: block !important;
        }
        .links{
            display: none;
        }
    }
    @media(max-width:365px) {
        .nav__title{
            font-size: 28px;
        }
        .movie__Title{
            font-size: 14px;
        }
        .fa-magnifying-glass{
            font-size: 24px;
        }
    }

    @media (max-width: 300px) {
        .footer__links {
            display: none;
        } 
    }
    @media(max-width:270px) {
        .fa-magnifying-glass {
            display: none;
        }
    }



